margin-bottom: 0; padding-bottom: 0;  body { text-align: left; }
p { text-align: left; }
td { }

/* Default link styles */
a:link { color: #676767; text-decoration: none; }
a:visited { color: #676767; text-decoration: none; }
a:hover { color: #005481; text-decoration: none; }
a:active { color: #005481; text-decoration: none; }

/* STYLE FOR TWO COLUMN SINGLE LINE HEAD NO PADDING */
.headline1 { color: #005481; font-size: 21px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 25px; text-align: left; }
/* STYLE FOR ONE COLUMN HEADLINE WITH TOP PADDING */
.headline2 { color: #005481; font-size: 21px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 28px; text-align: left; padding-top: 0.7em; }
/* STYLE FOR THREE LINE HEADLINE WITH TOP PADDING */
.headline3 { color: #005481; font-size: 21px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 25px; text-align: left; padding-top: 0.7em; }
/* STYLE FOR HOME PAGE HEAD NO PADDING */
.headline4 { color: #005481; font-size: 21px; font-family: Verdana, Arial, Helvetica, sans-serif; text-align: left; }

/* Center column main text styles */
.text { color: #676767; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 15px; text-align: left; margin-right: 12px; }
.textbold { color: #676767; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 15px; text-align: left; }

/* STYLE FOR MAIN TEXT ON 1COL PAGE FOR BLUE LINKS ROLLING OVER TO ORANGE */
.text1colbluelink { color: #005481; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 15px; text-align: left; }
.text1colbluelink A:link { color: #005481; text-decoration: none; }
.text1colbluelink A:visited { color: #005481; text-decoration: none; }
.text1colbluelink A:hover { color: #d4921e; text-decoration: none; }
.text1colbluelink A:active { color: #d4921e; text-decoration: none; }

/* Used for reduced size center text in blue */
.textblue { color: #005481; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 13px; text-align: left; }
.textblue A:link { color: #005481; text-decoration: none; }
.textblue A:visited { color: #005481; text-decoration: none; }
.textblue A:hover { color: #d4921e; text-decoration: none; }
.textblue A:active { color: #d4921e; text-decoration: none; }

/* Top center breadcrumb styles */
.breadcrumbs { color: #808080; font-size: 9px; font-family: Arial, Helvetica, sans-serif; text-align: left; }
.breadcrumbs A:link { color: #808080; text-decoration: none; }
.breadcrumbs A:visited { color: #808080; text-decoration: none; }
.breadcrumbs A:hover { color: #666666; text-decoration: none; }
.breadcrumbs A:active { color: #666666; text-decoration: none; }

/* Rounded blend in center - must reside in cell by itself */
.center_bg { background-image: url(../images/center_bg_image.jpg); background-repeat: no-repeat; background-position: left top; }
.center_bg_1col { background-image: url(../images/center_bg_image.jpg); background-repeat: no-repeat; background-position: right top; }
.home_center_bg { background-image: url(../images/grad_block.jpg); background-repeat: no-repeat; background-position: right top; }
.home_right_bg { background-image: url(../images/upper_grad_block.jpg); background-repeat: no-repeat; background-position: right top; }

/* Bubble blend behind quote - must reside in cell by itself */
.quote_bg { background-image: url(../images/grey_bubbles.jpg); background-repeat: no-repeat; background-position: left top; }

/* Quote in right hand column styles - tag individually (name should be bolded) */
.quoteicon { background-image: url(../images/quoteicon.jpg); background-repeat: no-repeat; background-position: 0px 10px; padding: 10px 0px 0px 20px; color: #d99625; font-size: 9pt; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 9pt; }
.quoteorangetext { color: #d99625; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: italic; line-height: 17px; text-align:left }
.quotegreytext { color: #8b8988; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: italic; line-height: 13px; text-align:right; margin-right: 15px; }

/* QUOTE IN ONE COLUMN STYLE - tag individually (name should be bolded) */
.quote1colorangetext { color: #d99625; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: italic; line-height: 15px; text-align:left ; margin-right: 12px; }
.quote1colgreytext { color: #8b8988; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: italic; line-height: 15px; text-align:left; }

/* used for search form spacing and text in entry box */
form { margin-top: 2px; margin-bottom: 0; }
.FormMargin{padding:0px; margin-bottom:0px; margin-top:1px; margin-left:0px;}
.formtext { color: #808080; font-size: 7pt; font-family: Verdana, Arial, Helvetica, sans-serif; margin: 1px 0 0 0; padding: 0; color=#990000; }

/* FOOTER STYLE - LINKS USE DEFAULT SETTINGS */
.bottom_text { color: #676767; font-size: 9px; font-family: Arial, Helvetica, sans-serif; text-align: left; }

/* STYLES FOR HOME PAGE RIGHT HAND COLUMN*/
.rightcolumnhometext { color: #676767; font-size: 8.5px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 12px; text-align: left; padding-top: 10px; }
.rightcolumnhomehead { color: #005481; font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 16px; text-align: left; padding-top: 14px; padding-bottom: 6px; }


/* STYLES FOR RELATED LINKS IN RIGHT HAND COLUMN*/
.rightcolumntext { color: #676767; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 13px; text-align: left; margin-right: 1em; }
.rightcolumnhead { color: #005481; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 13px; text-align: left; }
.orangearrows { color: #d4921e; font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 11pt; text-align: left; }

/*STYLES FOR CASE STUDIES AND EMPLOYEE PROFILES*/
.txt_CS {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #676767;
	list-style-type: none;
	list-style-image: url(images/bullet.gif);
	margin: 5px 15px;
	padding-bottom: 5px;
}

.bkgcsimage { background-image: url(images/bkgcsimage.jpg); background-repeat: no-repeat; background-position: left top; }

.csphoto {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.txtservicehead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #d99625;
	padding-left: 15px;
	padding-top: 0px;
	letter-spacing: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CDCABB;
	border-left-color: #DFDBCC;
	padding-bottom: 5px;
	text-align: left;
	padding-right: 15px;
	float: none;
	clear: none;
	margin-right: 2px;
	margin-left: 2px;
	line-height: 16px;
}

.txt_CSH1 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: normal;
	color: #005481;
	padding-right: 10px;
	padding-left: 15px;
}

.txtCScallout {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #676767;
	margin-right: 10px;
	padding: 10px;
	margin-left: 0px;
	margin-bottom: 5px;
}

.bkgepimage { 
	background-image: url(images/bkgepimage.jpg); background-repeat: no-repeat; background-position: left top; 
}

.txtepTabHeader
{
	padding: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
	
.txtepservicehead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #A72127;
	padding-left: 15px;
	padding-top: 0px;
	letter-spacing: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CDCABB;
	border-left-color: #DFDBCC;
	padding-bottom: 5px;
	text-align: left;
	padding-right: 15px;
	float: none;
	clear: none;
	margin-right: 2px;
	margin-left: 2px;
	line-height: 16px;
}

.txt_EPH1 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: normal;
	color: #30490F;
	margin: 5px 15px;
}

.txt_epquote {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	color: #22330B;
	list-style-type: none;
	list-style-image: url(images/bullet.gif);
	margin: 5px 15px;
	padding-bottom: 5px;
}

.txtCScalloutHeader
{
	font-weight: bold;
	color: #005481;
}

.txtepcallout {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	line-height: 14px;
	color: #A72127;
	margin-right: 10px;
	padding: 10px;
	margin-left: 0px;
	margin-bottom: 5px;
}

.txtepsubhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	line-height: 14px;
	color: #30490F;
	margin-right: 10px;
	padding: 0px;
	margin-top: 5px;
	margin: 5px 15px;
}

/*end STYLES FOR CASE STUDIES AND EMPLOYEE PROFILES*/

/*STYLES FOR RIGHT HAND COLUMN ORANGE SQUARE BULLET AND BLUE TEXT*/
.bullettextblue { color: #005481; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 13px; text-align: left; margin-top: 75px; margin-right: 10px; }
.bullettextblue A:link { color: #005481; text-decoration: none; }
.bullettextblue A:visited { color: #005481; text-decoration: none; }
.bullettextblue A:hover { color: #d4921e; text-decoration: none; }
.bullettextblue A:active { color: #d4921e; text-decoration: none; }
.bulleticoncorpsnapshot { background-image: url(../images/corporate_snapshot_bg.jpg); background-repeat: no-repeat; background-position: 0 10px; }

/*STYLES FOR TWO COLUMN LINKS WITH BLUE ARROW AND BLUE TEXT*/
.linksheadorange { color: #d99625; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 17px; text-align: left; margin-right: 1em; }
.linkstextblue { color: #005481; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 17px; text-align: left; margin-top: 10px; margin-right: 1em; }
.linkstextblue A:link { color: #005481; text-decoration: none; }
.linkstextblue A:visited { color: #005481; text-decoration: none; }
.linkstextblue A:hover { color: #d4921e; text-decoration: none; }
.linkstextblue A:active { color: #d4921e; text-decoration: none; }

/*STYLES TO CREATE A 1PX LINE - CURRENTLY USED ON 2 COLUMN LINKS PAGE*/
.linevertical { background-image : url(../images/line.gif); background-repeat: repeat-y;} 
.linehorizontal { background-image : url(../images/line1.gif); background-repeat: repeat-x; }