/* GPI CSS Stylesheet */

a {
	color:#000000; 
	text-decoration: none;
}

a:hover {
	color: #0066cc; 
	font-weight:.8em; 
	text-decoration: none;
}

a:visited {
	color:#222222; 
	text-decoration: none;
}

#banner {border: 2px solid #666666;}


	



		
body {
	width: 800px; 
	margin: auto;
	font-size: .8em;
	line-height: 1.25em;
	text-align: left;
	vertical-align: top;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #aaaaaa; 
}

.box_sponsor {
	width: 150px;
	height: 18px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #cccccc;
	background-image:url(gradient_16.gif);
	padding: 3px;
}	

.box_sponsor1 {
	width: 150px;
	height: 18px;
	color: #000000;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #cccccc;
	background-image:url(gradient_39.gif);
	padding-top: 3px;
}	

.box_sponsor2 {
	width: 150px;
	height: 40px;
	color: #000000;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #cccccc;
	background-image:url(gradient_40.gif);
	padding-top: 3px;
}	

.box_sponsor3 {
	width: 150px;
	color: #000000;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	border: 2px solid #cccccc;
	background-color:#efefef;
	padding-top: 3px;
}	

.box_sponsor4 {
	height: 18px;
	color: #ffffff;
	font-size: 1.0em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #cccccc;
	background-image:url(gradient_16.gif);
	padding-top: 3px;
}	

#col_left {
	width: 156px;
	padding: 10px;
	font-size: .9em;
	vertical-align: top;
}
	
#col_right {
	text-align: center; 
	vertical-align: top;
}

#col_text {
	width: 450px;
	padding: 15px;
	vertical-align: top;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	background-color: #ffffff;
}

#col_text1 {
	width: 600px;
	padding: 15px;
	vertical-align: top;
	border-left: 1px solid #aaaaaa;
	background-color: #ffffff;
}
	
#col_text2 {
	width: 250px;
	padding: 15px;
	text-align: justify;
	vertical-align: top;
	border-left: 1px solid #aaaaaa;
	background-color: #ffffff;
}


#container {background-color: #ffffff}

#content {background-color: #ffffff; border: 2px solid #cccccc;}

#copyright {
	font-size: .8em;
	text-align: right;
}

#dates {
	font-style: "Times New Roman", Times, serif;
	color: #222222;
	font-size: .8em;
	letter-spacing: .1em;
	text-transform: uppercase;
	text-align: left;
	padding-left: 20px 5px 0px 5px;
	border-top: 1px solid #aaaaaa;
}	

.headline {
	color: #666666;
	font-style: italic;
}

h3 {
	padding-left: 0px;
	color: #0066cc;
}

h4 {color: #0066cc;}

/*li {line-height: 1.2em;}*/

#logo {
	width: 238px;
	text-align: center;
	vertical-align: top;
	padding: 5px;
}

#mickmedia {
	color:#0066cc;}
	
#news_scr {
	text-align: center;
	font-size: .9em;
	color: #222222;
}
	
.read {
	color: #000066;
	text-decoration: underline;
}

#sponsors {
	text-align: right;
	padding-right: 15px;
	color: #222222;
	font-size: .85em;
	text-align: center;
	letter-spacing: .1em;
	text-transform: uppercase;
}

#sponsors img {padding: 5px;}

.sponsor_info {
	color: #0066cc;
	font-weightr: bold;
	font-size: 1.0em;
}			

#scr {
	width: 156px;
	text-align: center;
	font-weight: bold;
	line-height: 1.1em;
	background-color: #ffffff;
	padding-bottom: 5px;
}
				
.sponsor {
	padding: 5px 0px 5px 0px;
		border-bottom: 1px solid #aaaaaa;
}
	
.title {
	font-size: 1.2em;
	font-weight: bold;
}

#title {
	width: 234px;
	vertical-align: top;
	padding: 10px 0px 0px 0px;
}






