a:link { color: #933 ; text-decoration: none; }
a:visited { color: #933 ; text-decoration: none; }
a:hover { color: #2f75b3 ; text-decoration: none; }
a:active { color: #2f75b3 ; text-decoration: none; }
a.bottom:link { color: #999 ; font-size: 11px; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; line-height: 13px; text-decoration: none; }
a.bottom:visited { color: #999 ; font-size: 11px; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; line-height: 13px; text-decoration: none; }
a.bottom:hover { color: #373a41 ; font-size: 11px; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; line-height: 13px; text-decoration: none; }
a.bottom:active { color: #999 ; font-size: 11px; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; line-height: 13px; text-decoration: none; }
.bottomnav { color: #999 ; font-size: 10px; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; }
.newstext { color: #666 ; font-size: 11px; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; line-height: 14px; text-align: left; }
.header { color: #933; font-size: 14px; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; font-weight: 700; font-style: normal; }
.tcheader { color: #fff; font-size: 13px; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; font-weight: 700; font-style: normal; background-color: #2f75b3; padding: 2px; }
.tctext { color: #000 ; font-size: 12px; font-family: Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; line-height: 16px; text-align: left; }
.dot { background-image : url(../images/dot.gif); background-repeat: repeat-y;} 
.FormMargin{padding:0px; margin-bottom:0px; margin-top:1px; margin-left:15px;}
.dot1 { background-image : url(../images/dot1.gif); background-repeat: repeat-x; }
