p { text-align: left; }
td { }

/* Default link styles */
a:link { color: #a9321b; text-decoration: underline; }
a:visited { color: #a9321b; text-decoration: underline; }
a:hover { color: #ffa036; text-decoration: underline; }
a:active { color: #ffa036; text-decoration: underline; }
.headline { color: #005481; font-size: 15px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 18px; text-align: left; padding-top: 0.5em; }
.text { color: #000; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 16px; text-align: left; }
.textbold { color: #000; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 16px; text-align: left; }
.bottom_text { color: #676767; font-size: 11px; font-family: Arial, Helvetica, sans-serif; text-align: left; }
.textboldred { color: #a9321b; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; line-height: 16px; text-align: left; }
